.modal_overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .modal {
    background-color: white;
    border-radius: 0.25rem;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
    width: 95%;
    max-width: 600px;
    margin: 5rem auto
  }

  .modal_header{
    display: flex;
    padding: 9px 18px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid gray;
  }

  .modal_header h4{
    font-size: 20px;
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .modal_close {
    top: 0.5rem;
    right: 0.5rem;
    background: none;
    border: none;
    font-size: 17px;
    cursor: pointer;
  }