.search{
    margin-left: 20%;
    margin-top: 1.5%;
    width: 60%;
    text-align: center;
}

.icon{
    position: absolute;
    margin-left: 1rem;
    margin-top: 1.5rem;
}

.input{
    border-radius: 30px;
    background-color: whitesmoke;
    height: 30px;
    font-weight: 100;
    font-size: 20px;
    width: 65%;
    border: 1px solid white;
    padding: 2rem 2rem 2rem 3rem;
}

input::placeholder{
    color: gray;
    font-size: 16px;
}

input:focus{
    outline-width: 0;
    border: 1px solid white;
}

@media screen and (max-width: 768px){
    .search{
        margin-left: 10%;
        width: 78%;
    }
    .input{
        width: 100%;
        margin-top: 10px;
    }

    .icon{
        margin-top: 2rem;
    }
}
