.main_container{
    display: flex;
    flex-direction: column;
}

.half_banner{
    background: linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)), url('https://openseauserdata.com/files/70580862a5cb42f9f45a06196c26bc65.bin');
    height: 80vh;
    width: 100%;
    padding: 25px;
    background-size: cover;
    background-repeat: no-repeat;
}

.header{
    flex: 2;
}

.loading,
.no_results{
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    font-family: cursive;
    margin-top: 10px;
}

.back{
    margin: 0 3rem;
    width: 100px;
    border: 0;
    background-color: transparent;
    cursor: pointer;
}
